blockmaker --input-log=../_common_logs/init.log --input-log=../_common_logs/create_wallet.log --input-log=../_common_logs/import_delegate_keys.log --input-log=../_common_logs/enable_delegates.log --input-log=../_common_logs/advance_10_blocks.log
transactor --input-log=../_common_logs/init.log --input-log=../_common_logs/create_wallet.log --input-log=../_common_logs/import_5_delegate_keys.log --input-log=wallet_market_matchup_test.log
