*.swp
*.a
*.o
*.dylib
*.lib
*.cmake
*.sw*
docs/html
docs/latex
tests/blockchain_test
CMakeCache.txt
Makefile
CMakeFiles
tests/blockchain_tests
tests/dns_tests
tests/simple_net_test_client
programs/bts_xt/bts_xt
programs/bts_xt/bts_xt_client
programs/bts_xt/bts_xt_server
