*.a
*.o
*.dylib
*.cmake
*.lib
*.sw*
*.dot
*.DS_Store
*.pyc
*.pyo

docs/html
docs/latex

CMakeCache.txt
CMakeFiles
Makefile
!CMakeModules/*

compile_commands.json
.ycm_extra_conf.py*
unknown-serial.txt

libraries/api/bts_api_generator
libraries/api/include/bts/api/common_api.hpp
libraries/api/ruby_generator/output
libraries/blockchain/genesis_json.cpp
libraries/client/include/bts/client/build_info.hpp
libraries/rpc_stubs
libraries/utilities/git_revision.cpp
libraries/wallet/include/bts/wallet/url.hpp

programs/client/bitsharestestnet_client
programs/client/devshares_client
programs/client/bitshares_client

programs/utils/btc_wallet_dump
programs/utils/bts_create_genesis
programs/utils/bts_create_key
programs/utils/bts_genesis_to_bin
programs/utils/bts_genesis_to_cpp
programs/utils/bts_json_to_cpp
programs/utils/bts_key_info
programs/utils/compute_item_hashes
programs/utils/convert_btc_pubkey
programs/utils/key_to_wif
programs/utils/map_bts_network
programs/utils/pack_web
programs/utils/web_update_utility/web_update_utility
programs/utils/web_update_utility/web_update_utility_automoc.cpp

tests/bitcoin/wallet_import_tests
tests/bitshares_client_tests
tests/btstests/out
tests/chain_database_tests
tests/client_node
tests/client_rpc_tests/client_rpc_tests
tests/deterministic_signature_test
tests/dev_tests
tests/nathan_tests
tests/drltc_tests
tests/nikolai
tests/server_node
tests/wallet_tests
tests/debug_tests.log
tests/failed_tests.log
tests/regression_tests/_newtest
testnet_setup_log.txt

tests/nikolai/test_iter

snapshots/*.json

BitShares.dmg
_CPack_Packages/*
install_manifest.txt
