[submodule "libraries/fc"]
	path = libraries/fc
	url = https://github.com/InvictusInnovations/fc.git
[submodule "vendor"]
	path = vendor
	url = https://github.com/BitShares/vendor.git
    ignore = dirty
[submodule "programs/client/htdocs"]
	path = programs/client/htdocs
	url = https://github.com/BitShares/web_wallet.git
