*.a
*.o
*.dylib
*.cmake
*.lib
*.sw*

docs/html
docs/latex

CMakeCache.txt
CMakeFiles
Makefile

libraries/utilities/git_revision.cpp

programs/client/bitshares_client

programs/utils/bts_create_genesis
programs/utils/bts_create_key
programs/utils/bts_genesis_to_bin
programs/utils/key_to_wif

tests/bitshares_client_tests
tests/chain_database_tests
