<br/>
<br/>
<div class="main-content">

 <div class="header row">
  <div class="col-md-12">
   <h3 class="header-title">BitShares XT Wallet</h3>
  </div>
 </div>
<br/>
 <form name="wform" class="form-horizontal" role="form" ng-submit="submitForm(wform.$valid)" novalidate>

  <div class="row">
   <div class="col-md-12">
    <h3>Wallet Password</h3>

    <p>Your wallet password is optional and secures your transaction history. This password is separate from your
     spending password which secures your private keys. If you forget this password you will be unable to view or
     transfer your shares.</p>

    <div class="form-group" ng-class="{ 'has-error' : wform.wp.$invalid && !wform.wp.$pristine }">
     <label for="wallet_password" class="col-sm-2 control-label">Password</label>

     <div class="col-sm-6">
      <input ng-model="wallet_password" name="wp" type="password" class="form-control" id="wallet_password"
             placeholder="Password" autofocus ng-minlength="3">
      <p ng-show="wform.wp.$error.minlength" class="help-block">Password is too short.</p>
     </div>
    </div>
    <div class="form-group" ng-class="{ 'has-error' : wform.cwp.$invalid && !wform.cwp.$pristine }">
     <label for="confirm_wallet_password" class="col-sm-2 control-label">Confirm Password</label>

     <div class="col-sm-6">
      <input ng-model="confirm_wallet_password" name="cwp" type="password" class="form-control"
             id="confirm_wallet_password"
             placeholder="Confirm Password" data-match="wallet_password">
      <p ng-show="wform.cwp.$error.match" class="help-block">Fields do not match.</p>
     </div>
    </div>
   </div>
  </div>
  <br/>
  <div class="row">
   <div class="col-md-12">
    <h3>Spending Password</h3>

    <p>Your spending password is manditory and controls when and how your funds may be spent. If you forget this
     password you will be unable to transfer your shares.</p>

    <div class="form-group" ng-class="{ 'has-error' : wform.sp.$invalid && !wform.sp.$pristine }">
     <label for="spending_password" class="col-sm-2 control-label">Password</label>

     <div class="col-sm-6">
      <input ng-model="spending_password" name="sp" type="password" class="form-control" id="spending_password"
             placeholder="Password"
             required autofocus ng-minlength="9">

      <p ng-show="wform.sp.$error.minlength" class="help-block">Password is too short. It must be more than 8 characters.</p>

      <p ng-show="wform.sp.$invalid && !wform.sp.$pristine" class="help-block">Password is required.</p>
     </div>
    </div>
    <div class="form-group" ng-class="{ 'has-error' : wform.csp.$invalid && !wform.csp.$pristine }">
     <label for="confirm_spending_password" class="col-sm-2 control-label">Confirm Password</label>

     <div class="col-sm-6">
      <input ng-model="confirm_spending_password" name="csp" type="password" class="form-control"
             id="confirm_spending_password"
             placeholder="Confirm Password" required data-match="spending_password">

      <p ng-show="wform.csp.$error.match" class="help-block">Fields do not match.</p>
     </div>
    </div>

    <div class="form-group row">
     <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary btn-lg">Create Wallet</button>
     </div>
    </div>
   </div>
  </div>


 </form>

</div>
