<!--<ol class="breadcrumb">-->
 <!--<li><i class="fa fa-home fa-fw"></i>Home</a></li>-->
 <!--<li><i class="fa fa-sign-out fa-fw"></i> Transfer</li>-->
<!--</ol>-->

<div class="header">
 <div class="col-md-12">
  <h3 class="header-title">Transfer</h3>
 </div>
</div>

<div class="main-content">

 <div id="transfer-form">
  <form class="form-horizontal" role="form" ng-submit="send()">
   <div class="form-group">
    <label for="payto" class="col-sm-2 control-label">To</label>

    <div class="col-sm-10">
     <input ng-model="payto" type="text" class="form-control" placeholder="Address" id="payto"/>
    </div>
   </div>
   <div class="form-group">
    <label for="amount" class="col-sm-2 control-label">Amount</label>

    <div class="col-sm-10">
     <input ng-model="amount" type="number" class="form-control" placeholder="0.0" id="amount"/>
    </div>
   </div>
   <div class="form-group">
    <label for="memo" class="col-sm-2 control-label">Memo</label>
    <div class="col-sm-10">
     <input ng-model="memo" type="text" class="form-control" placeholder="Memo" id="memo"/>
    </div>
   </div>
		<div class="form-group row">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-primary btn-lg">Send</button>
			</div>
		</div>
  </form>
 </div>

</div>

</div>
