client0 --input-log=../_common_logs/initialize_simulated_time.log --input-log=../_common_logs/create_and_unlock_wallet.log --input-log=../_common_logs/import_delegate_keys_first_half.log --input-log=../_common_logs/enable_delegates_first_half.log --input-log=client0.log --input-log=../_common_logs/disable_delegates.log
client1 --input-log=../_common_logs/initialize_simulated_time.log --input-log=../_common_logs/create_and_unlock_wallet.log --input-log=../_common_logs/import_delegate_keys_second_half.log --input-log=../_common_logs/enable_delegates_second_half.log --input-log=client1.log
