client0 --input-log=../_common_logs/create_and_unlock_wallet.log --input-log=../_common_logs/import_delegate_keys.log --input-log=../_common_logs/enable_delegates.log --input-log=transfer.log --input-log=../_common_logs/disable_delegates.log --input-log=rescan_and_check_balance.log
client1 --input-log=../_common_logs/create_and_unlock_wallet.log --input-log=../_common_logs/import_delegate_keys.log  --input-log=transfer2.log --input-log=../_common_logs/disable_delegates.log --input-log=rescan_and_check_balance.log
