 <div class="modal-header">
  <h3 class="modal-title">{{ title }}</h3>
 </div>
 <form role="form" ng-submit="ok()">
 <div class="modal-body">
  <div class="form-group" ng-class="{'has-error': $parent.has_error}">
   <label for="wallet_password">{{ password_label }}</label>
   <input ng-model="$parent.password" focus-me type="password" class="form-control" id="wallet_password" placeholder="Password" required autofocus>
   <p class="help-block error" ng-show="$parent.has_error">{{ wrong_password_msg }}</p>
  </div>
 </div>
 </form>
 <div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()">OK</button>
  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
 </div>
