<!--<ol class="breadcrumb">-->
<!--<li><i class="fa fa-home fa-fw"></i>Home</a></li>-->
<!--<li><i class="fa fa-sign-in fa-fw"></i> Receive</li>-->
<!--</ol>-->

<div class="main-content">
 <div class="row">
  <div class="col-sm-12">

   <tabset>

    <tab heading="Create Address">
     <br/>
     <form class="form-horizontal" role="form" ng-submit="create_address()">
      <div class="form-group">
       <label for="new_address_label" class="col-sm-2 control-label">Label</label>
       <div class="col-sm-9">
        <input ng-model="$parent.new_address_label" type="text" class="form-control" id="new_address_label" placeholder="Label"
               autofocus>
       </div>
      </div>
      <div class="form-group">
       <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary">Create Address</button>
       </div>
      </div>
     </form>
    </tab>

    <tab heading="Import Key">
     <br/>
     <form class="form-horizontal" role="form" ng-submit="import_key()">
      <div class="form-group">
       <label for="pk_label" class="col-sm-2 control-label">Label</label>
       <div class="col-sm-9">
        <input ng-model="$parent.pk_label" type="text" class="form-control" id="pk_label" placeholder="Label"/>
       </div>
      </div>
      <div class="form-group">
       <label for="pk_value" class="col-sm-2 control-label">Private Key</label>
       <div class="col-sm-9">
        <input ng-model="$parent.pk_value" type="text" class="form-control" id="pk_value" placeholder="Private Key"/>
       </div>
      </div>
      <div class="form-group">
       <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary">Import Key</button>
       </div>
      </div>
     </form>
    </tab>

    <tab heading="Import Wallet">
     <br/>

     <form class="form-horizontal" role="form" ng-submit="import_wallet()">
      <div class="form-group">
       <label for="wallet_file" class="col-sm-2 control-label">Wallet Path</label>
       <div class="col-sm-9">
        <input ng-model="$parent.wallet_file" type="text" class="form-control" id="wallet_file" placeholder=""/>
       </div>
      </div>
      <div class="form-group">
       <label for="wallet_password" class="col-sm-2 control-label">Wallet Password</label>
       <div class="col-sm-9">
        <input ng-model="$parent.wallet_password" type="password" class="form-control" id="wallet_password" placeholder="Password"/>
       </div>
      </div>
      <div class="form-group">
       <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary">Import Wallet</button>
       </div>
      </div>
     </form>
    </tab>

   </tabset>

  </div>
 </div>

 <br/>
 <div class="row">
 <div class="col-sm-12">
  <h3>Receive Addresses</h3>
  <table class="table table-striped table-hover">
   <thead>
   <tr>
    <th>Label</th>
    <th>Address</th>
   </tr>
   </thead>
   <tbody>
   <tr ng-repeat="a in addresses">
    <td>{{a.label}}</td>
    <td>{{a.address}}</td>
   </tr>
   </tbody>
  </table>
 </div>
 </div>

</div>
