/*style.css*/
body {
  margin: 15px;
}

.gridStyle {
	font-family: Monaco, Consolas, "Lucida Console", monospace;
	font-size: 18px;
    border: 1px solid rgb(212,212,212);
    width: 800px; 
    height: 400px;
}